/*
!/.git
!/.github
!/.gitignore
!/.LICENCE
!/.README.md
!/Assets
/Assets/*
!/Assets/Varneon
/Assets/Varneon/*
!/Assets/Varneon/Resources
!/Assets/Varneon/Resources/Icons
!/Assets/Varneon/WorldCreatorAssistant
!/Assets/Varneon/WorldCreatorAssistant/Resources/Icons/*.spriteatlas.meta
