/*
!/.git
!/.github
!/.gitignore
!/.LICENCE
!/.README.md
!/Packages
/Packages/*
!/Packages/com.varneon.worldcreatorassistant
/Packages/com.varneon.worldcreatorassistant/Resources/Data/WCAData.asset
/Packages/com.varneon.worldcreatorassistant/Resources/Data/WCAData.asset.meta